/* .end{
    background: #403c3c;
}
.end_txt{
 justify-content: center;
    background: #FFFFFF;
}
.end_tit{
    color: #283337;
text-align: center;
font-size: 60px;
font-weight: 700;
line-height: 60px; 
letter-spacing: 1px;
width: 548px;
}
.end_p{
    color: #283337;
text-align: center;
font-size: 33px;
font-weight: 400;
line-height: 36px; 
width: 341px;
} */
/* .end_btn{
    border: 1px solid #FF7400;
    transition: 0.5s;
    color: #f3eeee;
    background: #FF7400;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    padding: 14px 67px;
}
.end_btn:hover {
    background: #373736;
    color: #fff;
    border: 2px solid #373736;
}  */

.fin_txt{
    width: 1330px;
padding: 0px 391px;
text-align: center;
}
